body {
    padding: 2rem;
    box-sizing: border-box;
    background: transparent;
}

.phone-border {
    position: relative;
    width: 22vw;
    height: 100%;
    border: solid 10px black;
    border-radius: 40px;
    box-shadow: dimgray 0 0 0px 6px;
    overflow: hidden;
}

.phone-island {
    position: absolute;
    width: 8rem;
    background: black;
    height: 1.5rem;
    border-radius: 0 0 20px 20px;
}

.container {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    background: var(--background);
}

.content {
    height: 100%;
    position: relative;
}

.navigation {
    width: 100%;
    background: var(--accent);
    padding: 0.2rem;
    box-sizing: border-box;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.camera-navigation {
    background: var(--accent-transparent);
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
    backdrop-filter: blur(10px);
}

.camera-button {
    background: white;
    border: solid 1px var(--accent);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.upload-button {
    position: absolute;
    left: 0.5rem;
    border: solid 1px var(--color);
    background: var(--accent-transparent);
    color: var(--color);
    border-radius: 2rem;
}