body {
    padding: 2rem;
    box-sizing: border-box;
    background: transparent;
}

.phone-border {
    position: relative;
    width: 400px;
    height: 100%;
    border: solid 10px black;
    border-radius: 40px;
    box-shadow: dimgray 0 0 0px 6px;
    overflow: hidden;
}

.phone-island {
    position: absolute;
    width: 8rem;
    background: black;
    height: 1.5rem;
    border-radius: 0 0 20px 20px;
}

.container {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    background: var(--background);
}

.content {
    height: 100%;
}

.navigation {
    width: 100%;
    background: var(--accent);
    padding: 1rem;
    box-sizing: border-box;
}